<h3>Make a Note:</h3>

  <form action="/notes" method="post">
    <label for="note_title">Title:</label>
    <input type="text" name="title" placeholder="Give your Note a Title..."><br>
    <label for="note_content">Content:</label>
    <textarea class="form-control" rows="5" id="content" name="content" placeholder="Your content goes here..."></textarea>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>