<%= @note.title %> - <%= @note.content %>

<br />
<br />
<form action="/notes/<%= @note.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Note" name="delete" class="btn btn-danger btn-xs">
</form>