<div class="container">
<form action="/signup" method="post">


  <fieldset>
    <legend>Sign Up!</legend>
   <div class="form-group">
          <label class="sr-only" for="form-username">Username</label>
          <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
    </div>

    <div class="form-group">
          <label class="sr-only" for="form-email">Email</label>
          <input type="email" name="email" placeholder="Email..." class="form-email form-control" id="form-email">
    </div>

    <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
    </div>
    <div class="form-group">
      
        <button type="submit" class="btn btn-primary">Submit</button>
      
    </div>
  </fieldset>


</form>
</div>