<form action="/signup" method="post">

      <label for="username">Username: </label>
      <input type="text" name="username" placeholder="Type Username here...">
      <label for="email">Email Address: </label>
      <input type="email" name="email" placeholder="Type Email here...">
      <label for="password">Password: </label>
      <input type="password" name="password" placeholder="Type password here...">
      <input type="submit" value="Sign Up">

</form>