<h3>All colleges you are applying to:</h3>
<ul class="list-unstyled">
<% current_user.colleges.each do |college| %>
<li><h3><a href="/colleges/<%=college.id%>"><%= college.name %></a></h3></li>
<% end %> 
</ul>

