<h2>Add a College or University:</h2>
<form method="post" action="/colleges">

  <div class="form-group"> <!-- College Name field !-->
    <label for="college_name" class="control-label">College/University Name</label>
    <input type="text" class="form-control" id="college[name]" name="college[name]" placeholder="Enter name of University/College">
  </div>

  <div class="form-check">
    <label for="college_submit_application" class="form-check-label">
      <input class="form-check-input" type="checkbox" name="college[submit_application][]" value="college[submit_application]">
      Submit College Application
    </label>
  </div>

  <div class="form-check">
    <label for="college_pay_app_fee" class="form-check-label">
      <input class="form-check-input" type="checkbox" name="college[pay_app_fee][]" value="college[pay_app_fee]">
      Pay Application Fee
    </label>
  </div>

  <div class="form-check">
    <label for="request_transcripts" class="form-check-label">
      <input class="form-check-input" type="checkbox" name="college[request_transcripts][]" value="college[request_transcripts]">
      Request Official Transcripts to be sent to college
    </label>
  </div>

  <div class="form-check">
    <label for="pay_transcript_fee" class="form-check-label">
      <input class="form-check-input" type="checkbox" name="college[pay_transcript_fee][]" value="college[pay_transcript_fee]">
      Pay Transcript Fee
    </label>
  </div>

  <div class="form-check">
    <label for="request_scores" class="form-check-label">
      <input class="form-check-input" type="checkbox" name="college[request_scores][]" value="college[request_scores]">
      Request ACT/SAT Test Scores to be sent to college
    </label>
  </div>

  <div class="form-check">
    <label for="pay_score_request_fee" class="form-check-label">
      <input class="form-check-input" type="checkbox" name="college[pay_score_request_fee][]" value="college[pay_score_request_fee]">
      Pay Test Score Request Fee
    </label>
  </div>

  <div class="form-check">
    <label for="request_rec_letters" class="form-check-label">
      <input class="form-check-input" type="checkbox" name="college[request_rec_letters][]" value="college[request_rec_letters]">
      Request Recommendation Letters from teachers and/or counselors
    </label>
  </div>

  <br />
  <div class="form-group">
    <label for="college_college_visit" class="col-xs-2 col-form-label">College Visit Date</label>
    <div class="col-xs-10">
      <input type="date" data-date-format="mm/dd/yyyy" value="college[college_visit]" id="college[college_visit]" name="college[college_visit]">
    </div>
  </div>
  <br>
  
  <div class="form-group"> <!-- Submit button !-->
    <button type="submit" class="btn btn-primary">Save</button>
  </div>  
  
</form>