<h2>Add a College or University:</h2>
<form method="post" action="/colleges">

  <div class="form-group"> <!-- College Name field !-->
    <label for="college_name" class="control-label">College/University Name</label>
    <input type="text" class="form-control" id="college[name]" name="college[name]" placeholder="Enter name of University/College">
  </div>

  <div class="form-check">
    <label for="college_pay_app_fee" class="form-check-label">
      <input class="form-check-input" type="checkbox" name="college[complete][]" value="pay_app_fee">
      Pay Application Fee
    </label>
  </div>

  <div class="form-check">
    <label for="college_submit_application "class="form-check-label">
      <input class="form-check-input" type="checkbox" name="college[complete][]" value="submit_application">
      Submit College Application
    </label>
  </div>

  <div class="form-group">
    <label for="college_college_visit" class="col-xs-2 col-form-label">College Visit Date</label>
    <div class="col-xs-10">
      <input type="date" data-date-format="mm/dd/yyyy" value="college[college_visit]" id="college[college_visity]" name="college[college_visit]">
    </div>
  </div>
  
  <div class="form-group"> <!-- Submit button !-->
    <button type="submit" class="btn btn-primary">Save</button>
  </div>  
  
</form>