<div class="title">
<section id="banner">
  <h2>Welcome to College Planning Checklist</h2>
  <h4>It is easy to get lost while planning for college, let us keep you on the right track...</h4>
  
  <ul class="list-unstyled">
    <li>
      <a href="/signup" class="btn btn-primary btn-lg">Get Started</a>
    </li>
  <ul>
   
</section>
</div>


<% if flash[:message] != nil %>
    <div class="alert"><%= flash.now[:message] %></div>
<% end %>


